{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}

{% block body %}


<div class="container">

    <div class="search_part">
        
        <center>
        <p class="p_separator"></p>
        <input class="search_input_fields" type="date" id="start" name="trip-start">
        <input class="search_input_fields" value="23:59:59" type="time" step="1">
        <button class="submitbutton" onclick="getData()">Pronađi</button> 
        <p class="p_separator"></p>

        <div class="search_grid_container">
            <p>Vlažnost zemljišta :</p>
            <div class="search_grid_item"><label for="output"></labelxcscvd><input type="textbox" name="soil_hum"></input></div>
            <p>Vlažnost vazduha :</p>
            <div class="search_grid_item"><label for="output"></labelxcscvd><input type="textbox" name="air_hum"></input></div>
            <p>Temperatura vazduha:</p>
            <div class="search_grid_item"><label for="output"></labelxcscvd><input type="textbox" name="temp"></input></div> 
            <p>Osvetljenost:</p> 
            <div class="search_grid_item"><label for="output"></labelxcscvd><input type="textbox" name="illumi"></input></div> 
        </div>
        
        <p class="p_separator"></p>
        </center>

    </div>

    <canvas id="soilhumiditychart" class="graph"></canvas>
    <canvas id="airtempchart" class="graph"></canvas>
    <canvas id="airhumiditychart" class="graph"></canvas>
    <canvas id="lightchart" class="graph"></canvas>

</div>
    
<!-- </div> -->

<script async src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script async src="{{ url_for('static', filename='js/dateandtime.js') }}"></script>


{% endblock %}

