{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}

{% block body %}


<div class="container">
    <div class="grid grid grid--2-cols column-gap-3">
        <div class="chart chart-doughnut">
            <canvas id="moistureChart"></canvas>
            <span class="chart-doughnut-value" id="moisture-value">55</span>
        </div>
    
        <div class="chart chart-line">
            <canvas id="temperatureChart"></canvas>
        </div>
    
        <div class="chart chart-doughnut">
            <canvas id="humidityChart"></canvas>
            <span class="chart-doughnut-value" id="humidity-value">55</span>
        </div>
    
        <div class="chart chart-line">
            <canvas id="lightChart"></canvas>
        </div>
    </div>
    
</div>

<script async src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}

