{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}

{% block body %}


<div class="container">
    <div id="first">
        <p id="chart1Text"></p>
        <div id="chart1">
            <canvas id="moistureChart"></canvas>
        </div>
    </div>
    <div id="second">
        <div id="chart2">
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>
    <div id="third">
        <p id="chart2Text"></p>
        <div id="chart3">
            <canvas id="humidityChart"></canvas>
        </div>
    </div>
    <div id="fourth">
        <div id="chart4">
            <canvas id="lightChart"></canvas>
        </div>
    </div>
    
</div>

<script async src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}

