html{
    background: #212121;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
/******************************/

.container{
    background: #242424;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: grid;
    height: 100%;
    width: 75vw;
    border-radius: 20px;
    margin-top: 6%;
    margin-bottom: 0%;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "moisture temperature"
        "humidity light"; 
}
/******************************/
#first{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: moisture;
    
}

#second{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: temperature;
    margin-left: 5%;
}

#third{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: humidity;
    
}


#fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: light;
    margin-left: 5%;
}



/******************************/

#chart1{
    width: 60%;
    margin-left: 20%;
}
#chart1Text{
    position: absolute;
    left: 54%;
    top: 48%;
    color: #EFB700;
}

#chart2{
    width: 70%;
}

#chart3{
    width: 60%;
    margin-left: 20%;
}
#chart2Text{
    position: absolute;
    left: 54%;
    top: 48%;
    color: #EFB700;
}

#chart4{ 
    width: 70%;
}

/******************************/
@media only screen and (max-width: 1700px) {
    .container {
        margin-top: 7%;
        font-size: medium;
    }
}

@media only screen and (max-width: 1650px) {
    .container {
        margin-top: 8%;
        font-size: medium;
    }
}

@media only screen and (max-width: 1600px) {
    .container {
        margin-top: 10%;
        font-size: medium;
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        margin-top: 11%;
        font-size: medium;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        margin-top: 13%;
        font-size: small;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        margin-top: 15%;
    }
    #chart1Text{
        position: absolute;
        font-size: small;
        left: 52%;
        top: 48%;
        color: #EFB700;
    }

    #chart2Text{
        position: absolute;
        font-size: small;
        left: 52%;
        top: 48%;
        color: #EFB700;
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        margin-top: 16%;
    }
    #chart1Text{
        position: absolute;
        font-size: small;
        left: 53%;
        top: 48%;
        color: #EFB700;
    }

    #chart2Text{
        position: absolute;
        font-size: small;
        left: 53%;
        top: 48%;
        color: #EFB700;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        height: 100%;
        width: 90vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "moisture humidity"
            "temperature temperature"
            "light light";
        margin-top: 25px;
        margin-bottom: 40px;
    }

    #first{
        margin-left: 0%;
    }

    #second{
        margin-left: 0%;
    }

    #third{
        margin-left: 0%;
    }

    #fourth{
        margin-left: 0%;
    }

    #chart1{
        width: 70%;
        margin-left: 0%;
    }

    #chart2{ 
        width: 90%;
    }

    #chart3{
        width: 70%;
        margin-left: 0%;
    }

    #chart4{ 
        width: 90%;
    }

    #chart1Text{
        position: absolute;
        font-size: medium;
        left: 44%;
        top: 46%;
        color: #EFB700;
    }

    #chart2Text{
        position: absolute;
        font-size: medium;
        left: 44%;
        top: 46%;
        color: #EFB700;
    }

  }


